---
import BaseLayout from "../layouts/BaseLayout.astro";
import { ArrowLink } from "../lib/ArrowLink";
import { Featured } from "../lib/Featured";
import type { PostFrontmatter, TalkFrontmatter } from "../types";

const posts = (await Astro.glob<PostFrontmatter>("../../posts/*.mdx")).filter(
  (p) => !!p.frontmatter.featured
);
posts.sort((a, b) => {
  return (
    new Date(a.frontmatter.date).getTime() -
    new Date(b.frontmatter.date).getTime()
  );
});

const talks = (
  await Astro.glob<TalkFrontmatter>("../../posts/talks/*.mdx")
).filter((p) => !!p.frontmatter.featured);
posts.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );
});
---

<BaseLayout title="aleksandra.codes" activePage="about">
  <h1
    slot="header-content"
    class="text-gray-600 dark:text-gray-400 w-full text-[11vw] text-center py-6 text-ad"
  >
    aleksandra.codes
  </h1>
  <main class="space-y-6 border-t border-gray-400 dark:border-gray-500">
    <div
      slot="links"
      class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 py-3 pb-10 text-xs italic w-full justify-between px-1"
    >
      <div class="space-y-2 flex flex-col">
        <a
          class="hover:underline underline-offset-4 decoration-1 decoration-gray-500 dark:decoration-gray-400 hover:decoration-wavy"
          href="https://twitter.com/aleksandrasays">@aleksandrasays</a
        >
        <a
          class="hover:underline underline-offset-4 decoration-1 decoration-gray-500 dark:decoration-gray-400 hover:decoration-wavy"
          href="https://github.com/beerose">@beerose</a
        >
      </div>
      <div>Fullstack developer</div>
      <div>Wrocław, Poland</div>
    </div>
    <div class="space-y-3">
      <p
        class="font-semibold text-sm text-gray-500 dark:text-gray-400 uppercase"
      >
        Featured blogposts
      </p>
      <ul class="featured grid grid-cols-2 gap-6 sm:grid-cols-3">
        {
          posts.map(({ frontmatter }) => {
            const date = new Date(frontmatter.date);
            return (
              <li class="">
                <Featured
                  title={frontmatter.title}
                  date={date}
                  href={frontmatter.path}
                  description={frontmatter.excerpt}
                  tags={frontmatter.tags?.split(",") || []}
                  length={frontmatter.readingTime.text}
                  type="post"
                />
              </li>
            );
          })
        }
      </ul>
      <div>
        <ArrowLink
          title="Go to /writing to see more"
          href="writing"
          class="ml-1"
        />
      </div>
    </div>
    <!-- <div>
      <p
        class="mb-3 font-semibold text-sm text-gray-500 dark:text-gray-400 uppercase"
      >
        Featured talks
      </p>
      <ul class="featured-talks grid grid-cols-2 gap-6 sm:grid-cols-3 mb-2">
        {
          talks.map(({ frontmatter }) => {
            return (
              <li>
                <lite-youtube youtubeId={frontmatter.youtubeId} />
              </li>
            );
          })
        }
      </ul>
      <ArrowLink title="Go to /speaking to see more" href="speaking" />
    </div> -->
  </main>
  <style>
    .featured:hover li:not(:hover) {
      @apply opacity-50 transition-opacity duration-500;
    }

    .featured-talks:li:hover li:not(:hover) {
      @apply opacity-50 transition-opacity duration-500;
    }
  </style>
</BaseLayout>
