---
import type { MarkdownLayoutProps } from "astro";

import { formatDate } from "../lib/formatDate";
import type { TalkFrontmatter } from "../types";

import BaseLayout from "./BaseLayout.astro";

import "../global-styles/shiki.css";

type Props = MarkdownLayoutProps<TalkFrontmatter>;

const { frontmatter } = Astro.props;

const date = new Date(frontmatter.date);
---

<BaseLayout title={frontmatter.title} activePage="speaking">
  <main class="zaduma-prose py-4">
    <header class="flex flex-col space-y-2">
      <h1 class="!my-0">{frontmatter.title}</h1>
      <p class="text-gray-600 dark:text-gray-400 text-sm">
        <time datetime={date.toISOString()}>
          Given on {formatDate(date)}
        </time>
        {" · "}
        <span>{frontmatter.place}</span>
        {" · "}
        <span>at {frontmatter.event}</span>
      </p>
      <div class="space-x-2">
        {
          frontmatter.video && (
            <a
              class={
                "hover:translate-x-1 hover:underline underline-offset-4 decoration-wavy decoration-gray-500 decoration-1 duration-100 whitespace-nowrap rounded-sm text-sm text-gray-600 dark:text-gray-400 no-underline"
              }
              href={frontmatter.video}
            >
              <span>Recording ↗</span>
            </a>
          )
        }
        {
          frontmatter.slides && (
            <a
              class={
                "hover:translate-x-1 hover:underline underline-offset-4 decoration-wavy decoration-gray-500 decoration-1 duration-100 whitespace-nowrap rounded-sm text-sm text-gray-600 dark:text-gray-400 no-underline"
              }
              href={frontmatter.slides}
            >
              <span>Slides ↗</span>
            </a>
          )
        }
      </div>
      <span class="text-sm">Length: {frontmatter.duration} min</span>
    </header>
    {frontmatter.videoId && <lite-youtube videoid={frontmatter.videoId} />}
    <slot />
  </main>
</BaseLayout>
